.cart {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    align-items: center;
    justify-content: center;
}

.cart-title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-family: sans-serif;
}

.cart h3 {
    margin-top: 2rem;
    color: rgb(172, 172, 172);
}

.cart-empty {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-empty-icon {
    color: rgb(172, 172, 172);
    width: 200px;
    height: 200px;
}
.cartItem {
    height: 250px;
    width: 700px;
    display: flex;
    
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

.cartItem img {
    width: 200px;
    margin: 30px;
}

.cartItem .description {
    width: 100%;
    font-size: 20px;
}
.description p {
    margin: 20px;
}

.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}
