.cart {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 8rem;

}

.cartItem {
    height: 250px;
    width: 700px;
    display: flex;
    
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

.cartItem img {
    width: 200px;
    margin: 30px;
}

.cartItem .description {
    width: 100%;
    font-size: 20px;
}
.description p {
    margin: 20px;
}

.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}
