nav {
    display: flex;
    border-bottom: 5px solid #BADA55 ;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 999;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.logo-container {
    margin-inline: 2rem;
}

.nav-container input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
    color: #525252;
}